
@font-face {
  font-family: 'Minecraft-Regular';
  src: url('fonts/Minecraft/Minecraft-Regular.ttf') format('truetype');
}

img {
  width: auto;
  height: 8vw;
  image-rendering: pixelated;
}

input {
  width: 100%;
  height: 75%;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #f3f7fc;
  border: 0.05vw #d0d5da solid;
  font-family: 'Minecraft-Regular', sans-serif;
}

input:hover {
  border: 0.05vw #d0d5da solid;
}

input:focus {
  outline: none;
}

div {
  width: 100%;
  height: 75%;
  display: grid;
}

div button {
  font-size: 1rem;
  color: #2b2b2b;
  background-color: #f3f7fc;
  border: 0.05vw #d0d5da solid;
  font-family: 'Minecraft-Regular', sans-serif;
}

div button:focus {
  outline: none;
}

div button.type-selected {
  border: 0.05vw #8d9696 solid;
}