/* #skin-container */
.skin-container {
  display: grid;
  row-gap: 0.25em;
}

.skin-container img {
  width: auto;
  height: 8em;
  margin: auto;
  image-rendering: pixelated;
}

.skin-container button {
  padding: 0.5em;
  text-align: center;
}

/* #name-element */
.name-element {
  width: 100%;
  padding: 1em;
  font-size: 1.35em;
  background-color: #f3f7fc;
  border: 0.05em #d0d5da solid;
  font-family: "Minecraft-Regular", sans-serif;
}

.name-element:focus {
  outline: none;
}

/* #type-container */
.type-container {
  width: 100%;
  display: grid;
}

.type-container button.type-selected {
  border: 0.05em #8d9696 solid;
}
