
@font-face {
  font-family: 'Roboto-Regular';
  src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Minecraft-Regular';
  src: url('fonts/Minecraft/Minecraft-Regular.ttf') format('truetype');
}

/* Body */

body {
  display: flex;
  flex-direction: column;

  margin: 0;
  color: #2b2b2b;
  min-height: 100vh;
  background-color: #f3f7fc;
  font-family: 'Minecraft-Regular', sans-serif;
}

/* Header */

body > header {
  font-size: 1.5em;
  padding: 1.5em 0 0 0;
  background-color: #2e363d;
}

body > header input {
  float: left;
  border: none;
  color: inherit;
  padding: 0.75em;
  font-size: inherit;
  background-color: #f3f7fc;
  border-top-right-radius: 0.25em;
  font-family: 'Minecraft-Regular', sans-serif;
}

body > header input:focus {
  border: none;
  outline: none;
}

body > header h1 {
  margin: 0;
  float: right;
  color: #b2b7bd;
  font-size: inherit;
  margin-right: 1.5em;
  font-weight: normal;
  background-color: transparent;
}

/* Main */

main {
  margin: 1em;

  display: grid;
  row-gap: 1.5em;
}

main header * {
  margin: 0;
}

main header {
  display: grid;
  column-gap: 1em;
  grid-template-columns: 1fr 3fr 1fr;
  
  font-size: 0.95em;
  align-items: center;
  justify-items: center;
}

/* Main Footer */

main footer {
  display: grid;
  column-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
}

#upload-skin + label:active, #download-skin-pack:active {
  border: 0.05em #8d9696 solid;
}

#upload-skin + label, #download-skin-pack {
  padding: 1em;
  font-size: 1em;
  color: #2b2b2b;
  background-color: #f3f7fc;
  border: 0.05em #d0d5da solid;
}

#upload-skin + label {
  display: flex;
  align-items: center;
  justify-content: center;
}

#upload-skin {
  display: none;
}

#download-skin-pack {
  font-family: 'Minecraft-Regular', sans-serif;
}

#download-skin-pack:focus {
  outline: none;
}

/* Footer */

body > footer {
  display: flex;
  margin-top: auto;
  align-items: center;
  justify-content: center;
}

body > footer p {
  font-size: 1rem;
  display: inline-block;
}

body > footer img {
  top: -0.25em;
  height: 1.25rem;
  position: relative;
  margin: 0 0.5rem 0 0.5rem;
  image-rendering: pixelated;
}

/* Global Queries */

h1, h3 {
  font-weight: normal;
}
